<!DOCTYPE html>
<html class="admin" lang="{{ languageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="robots" content="noindex">

    <title>{{ appName }} - {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    {% block head %}{% endblock %}
</head>
<body class="admin">
<nav class="navbar navbar-expand-md navbar-light bg-white bordered admin-nav">
    <div class="container m-nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">{{ appName }}</a>
        <a class="navbar-brand" href="/">&bull; {{ i18n.back_to_main }} </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <div class="dropdown">
                    <img src="../../champis/images/no-photo.webp" class="img-thumbnail img-profile-rounded" width="45" >
                    <a class="btn btn-medicus-shaded dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.lastName }} {{ user.firstName }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <h6 class="dropdown-header">{{ user.email }}</h6>
                        <a class="dropdown-item" href="/patient/personal">{{ i18n.Profile_Info }}</a>
                        <a class="dropdown-item" href="/logout">{{ i18n.Logout }}</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>');</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>if(typeof(Popper) === 'undefined') {document.write('<script src="/assets/js/popper.min.js"><\/script>')}</script>
<script src="/assets/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>