<!DOCTYPE html>
<html class="admin" lang="{{ languageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="robots" content="noindex">

    <title>{{ appName }} &bull; {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    {% block head %}{% endblock %}
</head>
<body class="admin">
    <nav class="navbar navbar-expand-md navbar-light bg-white shaded">
        <div class="container m-nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ urlPrefix }}/">{{ appName }}</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if page == 'doctor_index' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ urlPrefix }}/doctor">{{ i18n.home }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ urlPrefix }}/doctor">{{ i18n.home }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
                <div class="mr-auto"></div>
                <div class="dropdown admin-drop-nav-outer">
                    <a href="javascript:void(0)" class="dropdown-toggle medicus-color" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.lastName }} {{ user.firstName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right admin-drop-nav-inner" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item disabled" href="#">{{ user.email }}</a>
                        <a class="dropdown-item medicus-bg-color-hover" href="{{ urlPrefix }}/logout">{{ i18n.logout }}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

{% block body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>');</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script>if(typeof(Popper) === 'undefined') {document.write('<script src="/assets/js/popper.min.js"><\/script>')}</script>
    <script src="/assets/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>